.App{
    .Content{
        .ant-layout{
            height: 100%;
        }
        .ant-layout-content{
            padding-left:  20px;
            >div{
                width: 100%;
                height: 100%;
                background: #fff;
            }
        }
        background: #fff;
    }
}